<p id="notice"><%= notice %></p>

<div class="cover">
  <%= image_tag @book.cover_url if @book.cover? %>
</div>

<div class="form-actions">
  <% if @book.cover %>
  <%= link_to 'Crop cover', crop_book_path(@book) %>
  <% end %>
</div>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
